.all-component {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
    overflow: hidden;

    background-color: var(--background-color);
}

.all-component .form {
    flex-basis: 25%;
    background-color: var(--card-color);
    padding: 30px;
    transition: 0.5s;
}


.all-component h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}



.all-component .form label {
    display: block;
    text-align: left;
}

button {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--font-color);
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: var(--button-color);
}

.all-component .workspace {
    flex-basis: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
    overflow-y: scroll;
    padding: 40px 30px;
}

.all-component .workspace::-webkit-scrollbar {
    width: 4px;
}

.all-component .workspace::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 10px;
}

.all-component .all-task {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;

    justify-content: center;
    align-items: center;
}


.all-component .task {
    background-color: var(--card-color);
    padding: 15px;
    border-radius: 10px;
    height: 200px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.all-component .task h4 {
    text-transform: capitalize;
}

.blueBar {

    color: rgba(88, 88, 235, 0.521);
}

.blueBar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(88, 88, 235, 0.521);
    transition: 0.3s;

}

.task:hover .blueBar::before {
    height: 15px;


}

.task:hover h4 {

    color: var(--font-hover-color);

    z-index: 5;
}







.inputs {
    display: flex;

    align-items: flex-start;
    flex-direction: column;

    gap: 40px;
}

.singleInput {
    display: flex;
    flex-direction: row-reverse;
    gap: 11px;
}




.resultContainer {
    display: flex;
    width: 100%;
    height: 73%;
    align-items: center;
    justify-content: center;
}

.container>h2 {
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    gap: 2rem
}

.all-component .result {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color {
    color: #647bff;
    font-weight: 600;
}

/* pagination edit */
.css-zjf1nq-MuiPaper-root {
    background-color: var(--background-color) !important;
}

.css-rh92k-MuiPaper-root-MuiMobileStepper-root {
    background-color: var(--background-color) !important;
}

.css-rh92k-MuiPaper-root-MuiMobileStepper-root>button {
    color: #647bff;
    border: solid 1px #647bff;
}

.css-rh92k-MuiPaper-root-MuiMobileStepper-root>button:disabled {
    border: solid 1px #ccc;
    background-color: #9999994d;
    color: #ccccccad;
}

.css-rh92k-MuiPaper-root-MuiMobileStepper-root {
    color: var(--font-color) !important
}

.css-1jabshk {
    height: auto !important;
}

.MuiBox-root {
    margin: 15px auto;

}

/* ***********************media********************* */

@media (max-width:767px) {

    .all-component .all-task .task {
        width: 300px;
    }


    .MuiBox-root {
        margin: 20px auto;
    }


}